<div id="welcome">
  <account-notification-banner></account-notification-banner>
  <div class="container pt-5 pb-5">
    <h1>Welcome!</h1>
    <hr/>
    <p>This is the application which I created for presentation.</p>
    <div class="buttons">
      <a class="btn btn-info" href="/chatapp">Chat Application</a>
    </div>
  </div>

  <router-view></router-view>

  
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
